<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <p>Login form</p>
    <form method="post" action="/login">
        <div>
          <label>Email</label>
          <input type="text" name="email">
        </div>
        <div>
          <label>Password</label>
          <input type="text" name="password">
        </div>
      </form>
</body>
</html>